doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title community-guidelines
  style.
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap');
  link(rel='stylesheet', href='/stylesheets/style.css')
h1
  | 커뮤니티 가이드
hr(width='500')
p
  | HOROOM은 호서대학교 학생들이 자취방 정보를 더욱 간편하게 알아볼수 있도록 하는 공간입니다.
p
  | • 허위 사실 유포나 무조건적인 비판은 하지 말아주세요.
p
  | • 다른 사람들이 유익한 정보를 얻을수 있게 도와주세요.
