<<<<<<< HEAD
extends layout

block content
  h1= title
  p Welcome to #{title}
=======
extends layout

block content
  h1= title
  p Welcome to #{title}
>>>>>>> e6340e3fdb0fce4ae8e3723f8fd8581c72994159
