<<<<<<< HEAD
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
>>>>>>> e6340e3fdb0fce4ae8e3723f8fd8581c72994159
